<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .card {
      color: white;
    }

    .card-header {
      text-align: center;
    }

  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background: gray">
<div th:insert="fragments/nav.html :: nav"></div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card bg-secondary">
        <div class="card-header bg-dark">KLIENTAI</div>
        <div class="card-body">
          <form method="post" action="/new" th:object="${client}" enctype="multipart/form-data">
            <!--
            <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
              <ul>
                <li th:each="error:${#fields.errors()}" th:text="${error}"></li>
              </ul>
            </div>
            -->
            <div class="mb-3">
              <label class="form-label">Vardas</label>
              <input type="text" class="form-control" name="name" th:value="*{name}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                <span th:each="error:${#fields.errors('name')}" th:text="${error}"></span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Pavardė</label>
              <input type="text" class="form-control" name="surname"  th:value="*{surname}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('surname')}">
                <span th:each="error:${#fields.errors('surname')}" th:text="${error}"></span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">El. paštas</label>
              <input type="text" class="form-control" name="email"  th:value="*{email}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                <span th:each="error:${#fields.errors('email')}" th:text="${error}"></span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Tel. numeris</label>
              <input type="text" class="form-control" name="phone"  th:value="*{phone}" th:errorclass="is-invalid">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}">
                <span th:each="error:${#fields.errors('phone')}" th:text="${error}"></span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Sutarties failas</label>
              <input type="file" class="form-control" name="agreement">
            </div>
            <button class="btn btn-dark">Pridėti</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>