<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .card {
      color: white;
    }

    .card-header {
      text-align: center;
    }

  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background: gray">
<div th:insert="fragments/nav.html :: nav"></div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card bg-secondary">
        <div class="card-header bg-dark">REGISTRACIJA Į TRENIRUOTĘ</div>
        <div class="card-body">
          <form method="post" action="/registration/new">
            <div class="mb-3">
              <label class="form-label">Klientas</label>
              <select class="form-select" name="client_id">
                <option th:each="client: ${clients}" th:text="${client.name} + ' ' + ${client.surname}"></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Treniruotė</label>
              <select class="form-select" name="workout_id">
                <option th:each="workout: ${workouts}" th:text="${workout.name} + ', ' + ${workout.location} + ', ' + ${workout.date}"></option>
              </select>
            </div>
            <button class="btn btn-dark">Registruoti</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>